# Auto detect text files and perform LF normalization
* text=auto
public class Ejercicio1 {

	public static void main(String[] args) {
	int numeroInicio=5;
		int numeroFin=14;
        boolean var=false;
		while (numeroInicio<=numeroFin){
			if(numeroInicio%2==0 && var==true){
            System.out.print(numeroInicio+" ");
			}
			if(numeroInicio%2!=0 && var==false) {
				System.out.print(numeroInicio+" ");
			}
		    numeroInicio++;
	}
numeroInicio=5;
for(int i=numeroFin;i>=numeroInicio;i--) {
	if(i%2==0) {
		System.out.print(i+" ");
	}
}
	}
}

import java.util.Scanner;
public class Ejercicio2 {

	public static void main(String[] args) {
		//INICIALIZACION DE VARIABLES
		Scanner  leer = new Scanner(System.in);
		boolean ingresosAltos;
		//ENTRADAS
		System.out.println("Coloque sus ingresos mensuales: ");
		float ingresosMensuales=leer.nextFloat();
		System.out.println("Ingrese su cantidad de vehiculos ");
		int cantVehiculos= leer.nextInt();
		System.out.println("Ingrese su cantidad de inmuebles");
		int cantInmuebles= leer.nextInt();
		System.out.println("Si posee una embarcacion, una aeronave de lujo o es titular de activos societarios, escriba 'true'.Caso contrario, escriba 'false': ");
		boolean capEconomica= leer.nextBoolean();
		//PROCESOS
		if(ingresosMensuales>=489.083|| cantVehiculos>=3 || cantInmuebles>=3 &&
				(capEconomica==true)) {
			ingresosAltos= true;
		}else {
			ingresosAltos= false;
		}
		if (ingresosAltos==true) {
			System.out.println("Usted pertenece a la categoria INGRESOS ALTOS");
		}else {
			System.out.println("Usted NO entra en la categoria INGRESOS ALTOS");
			leer.close();
	}

	}
}


	

